[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
matplotlib = "*"
tqdm = "*"
scikit-image = "*"
monai = "*"
autorootcwd = "*"
opencv-python = "*"

[requires]
python_version = "3.11"
